version: "3.8"

services:
  app:
    build: .
    container_name: laravel_app
    working_dir: /var/www
    command: sh /docker-entrypoint.sh
    volumes:
      - ./:/var/www
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
    entrypoint: sh /docker-entrypoint.sh
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"